.filterFlight {
  width: 232px;
  min-width: 232px;
  height: 252px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #4a4a4a;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.filterFlight__header {
  padding: 20px 20px 10px 20px;
}

.filterFlight li {
  padding: 10px 20px 10px 0px;
}

.filterFlight li:last-child {
  padding: 10px 20px 20px 0px;
}

.filterFlight__main {
  padding-left: 20px;
}

.option {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #4a4a4a;
}

.check {
  padding-left: 2em;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__box {
  position: absolute;
  margin-left: -2em;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='1.5' stroke='%239ABBCE'/%3E%3C/svg%3E%0A");
}

.check__input:checked + .check__box {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%232196F3;%7D .st1%7Bfill:%232196F3;%7D%0A%3C/style%3E%3Cpath class='st0' d='M2,0.5h16c0.8,0,1.5,0.7,1.5,1.5v16c0,0.8-0.7,1.5-1.5,1.5H2c-0.8,0-1.5-0.7-1.5-1.5V2C0.5,1.2,1.2,0.5,2,0.5z' /%3E%3Cpath class='st1' d='M8.3,14L4,10.2l1.2-1.1l3.1,2.7L14.8,6L16,7.1L8.3,14z'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width: 1028px) {
  .filterFlight {
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-width: 350px;
    height: 252px;
  }
}
