* {
  box-sizing: border-box;
}

// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: normal;
//   src:
//     url('./assets/fonts/OpenSans-Regular.woff2') format('woff2'),
//     url('./assets/fonts/OpenSans-Regular.woff') format('woff');
// }


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

html,
body {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #f3f7fa;
}

ul,
li,
label {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
